<!DOCTYPE html>
<html lang="en">
  <!-- Head tag -->
  <%- include('../partials/_head', { title: foodArr.food_name.toUpperCase()}) %>
  <body class="menus-detail-body">
    <!-- Navbar -->
    <%- include('../partials/_nav') %>

    <!-- Menu item -->
    <section class="menus-detail-bottom-two-content">
      <div class="menu-detail-picture-border">
        <img class="menus-detail-picture" src="<%= foodArr.picture_url %>">
      </div>
      <section class="menus-right-content">
        <h2><%= foodArr.food_name.toUpperCase() %></h2>
          <p><%= foodArr.price %></p>
          <p><%= foodArr.description %></p>
        <form  action="/menus/<%= foodArr.id %>/new" method="POST">
          <div>
            <label for="quantity">Quantity:</label>
            <input type="number" min = '0' name="quantity" placeholder="0" style="width: 39px; margin: 1em">
          </div>
          <button class="btn btn-primary" type="submit">Add to Cart</button>
        </form>
      </section>
    </section>
  </body>
</html>
