<!DOCTYPE html>
<html lang="en">

  <%- include('partials/_head', { title: 'Welcome to Burgers&Friends'}) %>

<body class = 'customers-detail-body'>
  <%- include('partials/_nav') %>
  <h1>Our Menu</h1>
  <section class = 'customers-detail-container'>
  <% for (let food of foodArr) {%>
  <a href = '/customers/<%= food.id %>' class = 'customers-detail-thumbnail'>
    <img class = 'customers-detail-picture' src="<%= food.picture_url %>">
    <h4><%= food.food_name.toUpperCase() %></h4>
    <h4><%= food.price %></h4>
    <% } %>
  </a>
  </section>
</body>

</html>
