<!DOCTYPE html>
<html lang="en">
  <!-- Head tag-->
  <%- include('../partials/_head', { title: 'Cart' }) %>
  <body>
    <!-- Navbar-->
    <%- include('../partials/_nav') %>

    <!-- Cart -->
    <h1>Your Cart</h1>
    <p>Food Items <%= foodArr.length %></p>

    <section id="order-food">
      <div class="col-md-8">
        <h2>Food ordered</h2>
        <% for (let food of foodArr) { %>
          <article class="order-food-card">
            <div>
              <img src="<%= food.picture_url %>" width="150">
              <div>
                <h4><%= food.food_name %></h4>
                <p>Quantity: <%= food.quantity %></p>
              </div>
            </div>
            <h4><%= food.price %></h4>
            </ul>
          </article>
        <% } %>
        <h3 class="order-total"><span>Total</span> $<%= sum %></h3>
      </div>

    </section>
      </div>
    </div>
  </body>
</html>
