<!DOCTYPE html>
<html lang="en">
  <!-- Head tag-->
  <%- include('../partials/_head', { title: `Order confirmation`}) %>
  <body>
    <!-- Navbar-->
    <%- include('../partials/_nav') %>

    <!-- Order confirmation -->
    <main class="order-details-container">
      <section id="order-details">
        <div class="col-md-8">
          <h1>
            Your Order
              <% if (order.confirmed && order.completed) { %>
                - <span>Ready for pick up</span>
              <% } else if (order.confirmed && !order.completed) { %>
                - <span>Confirmed</span>
              <% } else { %>
                - <span>Pending</span>
              <% } %>
          </h1>
          <h3>Thank you for your order, <%= order.customer_name %></h3>
          <% if (order.estimated_pickup) { %>
            <h4>Estimated pickup time: <%= order.estimated_pickup %></h4>
          <% } %>
          <ul class="order-info">
            <li><span>Order Number:</span> <%= order.id %></li>
            <li><span>Phone Number:</span> <%= order.customer_phone_number %></li>
            <% if(order.preferred_pickup) { %>
              <li><span>Preferred Pickup Time:</span> <%= order.preferred_pickup %></li>
            <% } %>
            <li><span>Order Placed At:</span> <%= order.order_date %></li>
          </ul>
        </div>
      </section>

      <section id="order-food">
        <div class="col-md-8">
          <h2>Food ordered</h2>
          <% for (let food of order.food_items) { %>
            <article class="order-food-card">
              <div>
                <img src="<%= food.picture_url %>" width="150">
                <div>
                  <h4><%= food.food_name %></h4>
                  <p>Quantity: <%= food.quantity %></p>
                </div>
              </div>
              <h4><%= food.price %></h4>
            </article>
          <% } %>
          <h3 class="order-total"><span>Total:</span> <%= order.total %></h3>
        </div>
      </section>
    </main>
  </body>
</html>
