<!DOCTYPE html>
<html lang="en">
  <!-- Head tag-->
  <%- include('../partials/_head', { title: 'Home page'}) %>

  <body>
    <!-- Navbar -->
    <%- include('../partials/_nav') %>

    <!-- Menu index -->
    <h1>Our Menu</h1>
    <section id="menu-index">
      <% for (let food of foodArr) {%>
      <a href="/customers/<%= food.id %>" class="thumbnail">
        <img class="picture" src="<%= food.picture_url %>">
        <h4><%= food.food_name.toUpperCase() %></h4>
        <h4><%= food.price %></h4>
        <% } %>
      </a>
      </section>
  </body>
</html>
