<!DOCTYPE html>
<html lang="en">
  <!-- head tag-->
  <%- include('../partials/_head', { title: 'Orders Index'}) %>
  <body>
    <!-- Navbar-->
    <%- include('../partials/_nav') %>

    <!-- Orders Index -->
    <section id="orders-index">

      <h1>Orders to your restaurant</h1>
      <div class="orders-table-container">
        <!-- Orders Table -->
        <table class="orders-table">

          <!-- Table header -->
          <thead class="table-header">
            <tr class="table-row">
              <th>Order Date</th>
              <th>Customer Name</th>
              <th>Phone Number</th>
              <th>Order</th>
              <th>Confirmed</th>
              <th>Completed</th>
              <th></th>
            </tr>
          </thead>

          <!-- Table body -->
          <tbody class="table-body">
            <% for (let order of orders) { %>
              <tr class="table-row">
                <td><%= order.order_date %></td>
                <td><%= order.name %></td>
                <td><%= order.phone_number %></td>
                <td>
                  <% for (let item of order.food_items) {%>
                    <%= item.quantity %> X <%= item.food_name %> <br>
                  <% } %>
                </td>
                <td>
                  <% if (order.confirmed) { %>
                    <i class="fas fa-check"></i>
                  <% } else { %>
                    <i class="fas fa-times"></i>
                  <% } %>
                </td>
                <td>
                  <% if (order.completed) { %>
                    <i class="fas fa-check"></i>
                  <% } else { %>
                    <i class="fas fa-times"></i>
                  <% } %>
                </td>
                <td>
                  <a href="/orders/<%= order.id %>" class="btn btn-secondary">View Details</a>
                </td>
              </tr>
              <% } %>
          </tbody>
        </table>
      </div>
    </section>
  </body>
</html>
